#planetAge {
  display: none;
}

#planetYearsLeft {
  display: none;
}

#planetYearsOver {
  display: none;
}

body {
  font-family: 'Supermercado One', cursive;
  background-image: url('https://i.pinimg.com/originals/f4/7c/09/f47c09eae2492ff2d9a0c9dc730bf968.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
